body {
  background-color: #e0a867;
  font-family: "Mukta Malar", sans-serif;
}

#bio,
#timeline,
#career,
#description,
#accomplishments,
.hobby {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #f7c465;
}

#bio > h2,
#timeline > h2,
#career > h2 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Francois One", sans-serif;
  text-align: center;
}

#timeline > ul {
  list-style: none;
  margin-right: 30px;
}

#timeline li {
  border-bottom: 1px solid black;
}

#portrait {
  height: auto;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid black;
}

#career table {
  margin-left: auto;
  margin-right: auto;
}

#career td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#career th {
  border: none;
  padding: 10px;
  text-align: center;
}

#description > h2 {
  text-align: center;
}

footer {
  background-color: #f7c465;
  text-align: center;
  margin-top: 20px;
}

.hobby img {
  display: inline;
}

#exerciseImage {
  margin-left: 500px;
}

nav {
  background-color: #edca61;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 1.5em;
}

nav a:hover,
nav a:active {
  text-decoration: underline;
}

nav li {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

figure {
  display: inline-block;
}

figure img {
  width: 165px;
}

#computer_content,
#cooking_content,
#exercising_content {
  display: flex;
}

#computer_content img,
#cooking_content img,
#exercising_content img {
  height: 175px;
}

#computer_content img,
#cooking_content img {
  margin-right: 20px;
}

#exercising_content img {
  margin-left: 20px;
}

figcaption {
  font-family: "Mukta Malar", sans-serif;
  font-size: 10px;
  width: 165px;
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
}
